<p id="notice"><%= notice %></p>

<h1>Listing Elements</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lc</th>
      <th>Ld</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @elements.each do |element| %>
      <tr>
        <td><%= element.name %></td>
        <td><%= element.LC %></td>
        <td><%= element.LD %></td>
        <td><%= element.note %></td>
        <td><%= link_to 'Show', element %></td>
        <td><%= link_to 'Edit', edit_element_path(element) %></td>
        <td><%= link_to 'Destroy', element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Element', new_element_path %>
