<p id="notice"><%= notice %></p>

<h1>Listing Ideologies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideologies.each do |ideology| %>
      <tr>
        <td><%= ideology.name %></td>
        <td><%= ideology.A %></td>
        <td><%= ideology.B %></td>
        <td><%= ideology.C %></td>
        <td><%= ideology.D %></td>
        <td><%= ideology.note %></td>
        <td><%= link_to 'Show', ideology %></td>
        <td><%= link_to 'Edit', edit_ideology_path(ideology) %></td>
        <td><%= link_to 'Destroy', ideology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ideology', new_ideology_path %>
