<p id="notice"><%= notice %></p>

<p>
  <strong>Q01:</strong>
  <%= @survey.q01 %>
</p>

<p>
  <strong>Q02:</strong>
  <%= @survey.q02 %>
</p>

<p>
  <strong>Q03:</strong>
  <%= @survey.q03 %>
</p>

<p>
  <strong>Q04:</strong>
  <%= @survey.q04 %>
</p>

<p>
  <strong>Q05:</strong>
  <%= @survey.q05 %>
</p>

<p>
  <strong>Q06:</strong>
  <%= @survey.q06 %>
</p>

<p>
  <strong>Q07:</strong>
  <%= @survey.q07 %>
</p>

<p>
  <strong>Q08:</strong>
  <%= @survey.q08 %>
</p>

<p>
  <strong>Q09:</strong>
  <%= @survey.q09 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @survey.q10 %>
</p>

<p>
  <strong>Q11:</strong>
  <%= @survey.q11 %>
</p>

<p>
  <strong>Q12:</strong>
  <%= @survey.q12 %>
</p>

<p>
  <strong>Q13:</strong>
  <%= @survey.q13 %>
</p>

<p>
  <strong>Q14:</strong>
  <%= @survey.q14 %>
</p>

<p>
  <strong>Q15:</strong>
  <%= @survey.q15 %>
</p>

<p>
  <strong>Q16:</strong>
  <%= @survey.q16 %>
</p>

<p>
  <strong>A:</strong>
  <%= @survey.A %>
</p>

<p>
  <strong>B:</strong>
  <%= @survey.B %>
</p>

<p>
  <strong>C:</strong>
  <%= @survey.C %>
</p>

<p>
  <strong>D:</strong>
  <%= @survey.D %>
</p>

<p>
  <strong>Result:</strong>
  <%= @survey.result %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
