<!DOCTYPE html>
<html>
<head>
  <title>Shindan</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta property="og:title" content="あなたのイデオロギヰは<%=@user.ideology.name%> - 女神転生的イデオロギー診断" />
  <meta property="og:description" content="あなたの種族は<%=@user.devil.name%>(<%=LD(@user.devil.LD)%>-<%=LC(@user.devil.LC) %>)です。">
  <meta property="og:image" content=<%= "http://devilcompass.herokuapp.com" + asset_path(@user.devil.name + ".png")%> />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
